body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f3f3f3;
  margin-top: 50px;
}

h1 {
  color: #333;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
